target/
!.mvn/wrapper/maven-wrapper.jar
build_output.txt
app_request.json
*.class
*.log
*.ctxt
.mtj.tmp/
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
.settings/
.project
.classpath
.factorypath
.idea/
*.iml
*.iws
.vscode/
.DS_Store
